main {
	text-align: center;
	font-size: 0;
	width: 800px;
}

.container-one {
	width: 50%;
	height: 200px;
	border: 1px solid black;
	background-color: green;
	margin-left: auto;
}

.container-two {
	width: 50%;
	height: 200px;
	border: 1px solid black;
	background-color: blue;
	margin-right: auto;
}

.container-three {
	width: 33.33%;
	height: 300px;
	margin-left: auto;
	border: 1px solid black;
	background-color: grey;
}

.container-four {
	width: 33.33%;
	height: 300px;
	text-align: center;
	border: 1px solid black;
	background-color: yellow;
}